/*------------adding--------------*/
:root {
  --color-one: #434455;
  --color-two: #2e2f42;
  --color-gray: #8e8f99;
  --color-white: #ffffff;
  --color-whitetwo: #f4f4fd;
  --color-whitethree: #fcfcfc;
  --color-border: #e7e9fc;
  --color-blue: #4d5ae5;
  --color-accent: #404bbf;
  --color-green: #31d0aa;
  --font-family: "Roboto", sans-serif;
  --font-familylogo: "Raleway", sans-serif;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--color-white);
  color: var(--color-one);
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*-----------reset---------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
/*-----------header----------*/
.header {
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.menu-toggleicon {
  stroke: currentColor;
}
.nav {
  display: flex;
  align-items: center;
}
.logo-link {
  margin-right: 76px;
  color: var(--color-blue);
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  font-family: var(--font-familylogo);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logoblack-text {
  color: var(--color-two);
}
.menu-list {
  display: flex;
  gap: 40px;
}
.menu-link {
  padding: 24px 0;
  color: var(--color-two);
  font-weight: 500;
  transition: color 250ms var(--cubic-bezier);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-accent);
}
.page-active {
  position: relative;
  color: var(--color-accent);
  transition: color 250ms var(--cubic-bezier);
}

.menu-list .menu-link.page-active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}
.address {
  margin-left: auto;
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address-link {
  color: var(--color-one);
  transition: color 250ms var(--cubic-bezier);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-accent);
}
/*---------------main-studio-------------*/

/*-----------hero------------------*/
.hero-section {
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio/people-office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-titleone {
  max-width: 496px;
  margin: 0 auto;
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color 250ms var(--cubic-bezier);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-accent);
}
/*-----------------benefits-----------------*/
.benefits-section,
.customers-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}
.benefits-list,
.products-list,
.team-list,
.customers-list,
.socialteam-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  position: relative;
  width: calc((100% - 3 * 24px) / 4);
}
.benefits-boximage {
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--color-whitetwo);
  transition: opacity 500ms linear 250ms;
}
.benefits-boxicon {
  position: absolute;
  top: 24px;
  left: 100px;
  opacity: 0;
  transition: opacity 500ms linear 250ms, transform 500ms linear 250ms;
  transform: rotate(0deg) scale(0);
}

.benefits-item:hover .benefits-boxicon,
.benefits-item:focus .benefits-boxicon {
  opacity: 1;
  transform: rotate(360deg) scale(1);
}
.benefits-item:hover .benefits-boximage,
.benefits-item:focus .benefits-boximage {
  opacity: 0;
}
.benefits-titlethree,
.projects-titletwo,
.team-titlethree {
  margin-bottom: 8px;
  color: var(--color-two);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/*-------------products------------*/
.products-section {
  padding-bottom: 120px;
}
.products-titletwo,
.customers-titletwo,
.team-titletwo {
  margin-bottom: 72px;
  color: var(--color-two);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.products-item {
  width: calc((100% - 3 * 16px) / 3);
}
/*-------------team---------------*/
.team-section {
  padding: 120px 0;
  background-color: var(--color-whitetwo);
}
.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-box {
  padding: 32px 0px;
}
.team-titlethree {
  text-align: center;
}
.team-text {
  margin-bottom: 8px;
  text-align: center;
}
.socialteam-list {
  justify-content: center;
}
.socialteam-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-blue);
}
.socialteam-icon {
  fill: var(--color-whitetwo);
}
.socialteam-link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-blue);
  transition: background-color 250ms var(--cubic-bezier);
  transform: translate(-50%, -50%);
}
.socialteam-link:hover,
.socialteam-link:focus {
  background-color: var(--color-accent);
}
/*-------------customers------------*/
.customers-item {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  color: var(--color-gray);
  transition: border-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
.customers-icon {
  fill: currentColor;
}
/*--------------modal-------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--cubic-bezier),
    visibility 250ms var(--cubic-bezier);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background-color: var(--color-whitethree);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--cubic-bezier);
  transform: translate(-50%, -50%) scaleY(1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-buttonclose,
.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-border);
  color: var(--color-two);
  transition: background-color 250ms var(--cubic-bezier),
    border 250ms var(--cubic-bezier);
}
.modal-buttonclose:hover,
.modal-buttonclose:focus,
.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
}
.modal-iconclose,
.mobile-iconclose {
  fill: currentColor;
  transition: fill 250ms var(--cubic-bezier);
}
.modal-boxinput {
  margin-bottom: 8px;
}
.modal-title {
  margin-bottom: 16px;
  color: var(--color-two);
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  text-align: center;
}
.modal-rowinput {
  position: relative;
}
.modal-label {
  position: relative;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: color 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier);
}
.modal-input:focus {
  border-color: var(--color-blue);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  transition: fill 250ms var(--cubic-bezier);
  transform: translateY(-50%);
}
.modal-input:focus-within + .modal-icon {
  fill: var(--color-blue);
}
.modal-boxtextarea {
  margin-bottom: 16px;
}
.modal-textarea {
  display: block;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color 250ms var(--cubic-bezier);
}
.modal-textarea:focus {
  border-color: var(--color-blue);
}
.modal-textarea::placeholder,
.modal-label,
.modal-checkboxlabel,
.text-checkbox {
  color: var(--color-gray);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.modal-checkboxlabel {
  display: block;
}
.modal-checkboxlink {
  color: var(--color-blue);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.modal-checkboxalternative {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms var(--cubic-bezier),
    border 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}
.modal-checkboxicon {
  display: inline-block;
  width: 10px;
  height: 8px;
  border-radius: 2px;
  fill: var(--color-whitethree);
}
.modal-checkboxinput:checked
  + .modal-checkboxlabel
  > .modal-checkboxalternative {
  border: none;
  background-color: var(--color-accent);
  fill: var(--color-white);
}
.text-checkbox {
  margin-left: 8px;
}
.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 24px auto;
  padding: 16px 32px;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms var(--cubic-bezier);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-accent);
}
/* -----------mobile-menu------------- */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 40px 40px;
  background-color: var(--color-white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--cubic-bezier);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle.js-open-menu {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-list.flex-column,
.address-list.flex-column {
  flex-direction: column;
}
.mobile-menu .nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 284px;
}
.mobile-menu .address {
  margin-left: 0;
  margin-bottom: 48px;
}
.mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-one);
}
.tel-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-blue);
}
.mobile-menu .mobile-active {
  color: var(--color-accent);
}
.mobile-menu .socialteam-list {
  gap: 56px;
}
/*----------------------main-portfolio---------------*/
.portfolio-section {
  padding: 96px 0 120px;
}
/*-------------buttons-------------*/
.buttons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.buttons-item {
  align-items: center;
  height: 48px;
  padding: 12px 24px;
  border: 1px solid var(--color-border);
  background-color: var(--color-whitetwo);
  color: var(--color-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    border-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}
.buttons-item:hover,
.buttons-item:focus {
  border: 1px solid transparent;
  background-color: var(--color-accent);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*-----------------projects----------------*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.projects-item {
  width: calc((100% - 48px) / 3);
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-overlay {
  position: relative;
  overflow: hidden;
}
.projects-overlaytext {
  position: absolute;
  top: 0;
  width: 360px;
  height: 300px;
  padding: 40px 32px;
  background-color: var(--color-blue);
  color: var(--color-whitetwo);
  transition: transform 250ms var(--cubic-bezier);
  transform: translateY(100%);
}
.projects-link {
  display: block;
  transition: box-shadow 250ms var(--cubic-bezier);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-link:hover .projects-overlaytext,
.projects-link:focus .projects-overlaytext {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.projects-linkbox {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.projects-text {
  color: var(--color-one);
}
/*------------footer------------*/
.footer {
  padding: 100px 0;
  background-color: var(--color-two);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.infofooter {
  margin-right: 120px;
}
.logowhite-text {
  color: var(--color-whitetwo);
}
.infofooter-text {
  width: 264px;
  margin-top: 16px;
  color: var(--color-whitetwo);
}
.socialfooter {
  margin-right: 80px;
}
.socialfooter-text {
  margin-bottom: 16px;
  color: var(--color-white);
  font-weight: 500;
}
.socialfooter-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.socialfooter-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-blue);
}
.socialfooter-link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--color-blue);
  transition: background-color 250ms var(--cubic-bezier);
  transform: translate(-50%, -50%);
}
.socialfooter-item:hover .socialfooter-link,
.socialfooter-item:focus .socialfooter-link {
  background-color: var(--color-green);
  transition-duration: 250ms;
}
.socialfooter-icon {
  fill: var(--color-whitetwo);
}
.subscribefooter-text {
  margin-bottom: 16px;
  color: var(--color-white);
  font-weight: 500;
}
.subscribefooter-form {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}
.subscribefooter-input {
  display: block;
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: background-color 250ms var(--cubic-bezier);
}
.subscribefooter-input::placeholder {
  color: var(--color-white);
}
.subscribefooter-input:focus,
.subscribefooter-input:active {
  border: 1px solid var(--color-blue);
}
.subscribefooter-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: start;
  transition: background-color 250ms var(--cubic-bezier);
}
.subscribefooter-button:hover,
.subscribefooter-button:focus {
  background-color: var(--color-accent);
}
.subscribefooter-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  background-color: var(--color-blue);
  fill: var(--color-white);
  transition: background-color 250ms var(--cubic-bezier);
}
.subscribefooter-button:hover .subscribefooter-icon,
.subscribefooter-button:focus .subscribefooter-icon {
  background-color: var(--color-accent);
}

/*------------------ @media ------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/studio/people-office@2x.jpg);
  }
}
/* @media (max-width: 767px) {
  .menu-list,
  .address {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
} */
/* @media (min-width: 428px) and (max-width: 767px) {
  .container {
    min-width: 428px;
    max-width: 767px;
  }
}
@media (min-width: 768px) and (max-width: 1158px) {
  .container {
    min-width: 768px;
    max-width: 1158px;
  }
}
@media (min-width: 1158px) {
  .container {
    min-width: 1158px;
  }
} */

/* 

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
} */

/* 

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
} */
